
  
  .sign-button{
    background: #9f5959; 
    color: #fff; 
    border-radius: 10px 4px 12px 6px; 

    margin: 10px; 
    justify-content: end; 
 
    font-size: 15px;
    text-align: center;
    margin-top:20px;
  }

  .navbar {
    background-color: #333;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px; /* Adjust the margin value as needed */
  }
  
  .nav-link {
    color: rgb(214, 193, 193);
    font-size: 20px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
  }
  
  .nav-link:hover {
    background-color: #b9a3a3;
  }
  
  .nav-link.active {
    background-color: #baa7a7;
    font-weight: bold;
  }