.highlighted {

    background-color:pink;

    font-weight: bold;

  }
  .border

  {

 border-color: black;

 width: 1300px;

  }

  .search-bar {

   position: relative;

 }


 .search-bar input[type="text"] {

   padding-right: 30px; /* Adjust the padding to create space for the icon */

 }


 .search-bar .fa-search {

   position: absolute;

   right: 50px; /* Adjust the right value to position the icon as desired */

   top: 50%;

   transform: translateY(-50%);


 }

 .search-bar .clear-button {

   position: absolute;

   right: 10px; /* Adjust the right value to position the clear button */

   top: 50%;

   transform: translateY(-50%);

   border: none;

   background: transparent;

   cursor: pointer;

 }


 .search-bar .clear-button i {

   color: #999; /* Adjust the color of the clear button icon */

 }


 .result {

   display: flex;

   align-items: center;

   padding: 10px;

   cursor: pointer;

   display: flex;

   align-items: center;

 }


 .search-text {

   flex-grow: 1;

   margin-right: 10px;

 }

 .remove-icon {

   cursor: pointer;

   margin-left: 10px;

 }